<div class="container">
	<div class='content'>
		<div class='header'>
			<h1>Where to Stay</h1>
		</div>
		<p>Here are some recommendations for staying in Charleston!</p>
		<div class="hotel-block">
			<h3><a href="http://www.homeaway.com/search/south-carolina/charleston/region:6374/arrival:2014-10-17/departure:2014-10-19/minSleeps/2">Homeaway.com</a></h3>
			<p>Homeaway is similar to AirBnB, and has lots of great options for the Charleston area. (It also features a much nicer logo than AirBnB.) It's typically less expensive to rent a small condo than it is to get a hotel room in the city, and most listings have room for at least 4 people.  This is easily the best way to stay somewhere nice on a budget!</p>
		</div>
    <div class="hotel-block">
      <h3><a href="http://thevendue.com/">The Vendue</a></h3>
      <p>Boutique hotel with very reasonable prices (rooms starting at $245/night) in the best possible area of Charleston. We have some rooms reserved here (not technically in a block) so let us know if you're interested! (contact <a href="mailto:solomon.garger@gmail.com" target="blank">Sol</a> or <a href="mailto:jsrj@aol.com" target="blank">Julie</a>)</p>
    </div>
		<div class="hotel-block">
			<h3><a href="http://www.daysinn.com/hotels/south-carolina/charleston/days-inn-charleston-historic-district/rooms-rates?srcDestination=&partner_id=&srcBrand=&campaign_code=&compare=false&propId=DI05262&checkout_date=10%2F19%2F2014&children=0&useWRPoints=false&ratePlan=BAR&teens=0&affiliate_id=&brand_code=BH%2CDI%2CRA%2CBU%2CHJ%2CKG%2CMT%2CSE%2CTL%2CWG%2CWY%2CPX%2CWT%2CWP%2CPN&iata=&childAgeParam=&adults=2&checkin_date=10%2F17%2F2014&rooms=1">Days Inn Historic District</a></h3>
			<p>Yes, it's a Days Inn, but pretty much everything in downtown Charleston is nicer than you think it is.  If you're not comfortable with Homeaway and are on a budget, this is the spot for you.  You also can't beat the location!</p>
		</div>
    <div class="hotel-block">
      <h3><a href="http://www.francismarionhotel.com/">Francis Marion Hotel</a></h3>
      <p>Historic downtown Charleston hotel in a great location. We have a block of rooms here for ~$300/night (before tax), so just give them a call if you're interested </p>
    </div>


    <div class="hotel-block">
      <h3><a href="http://www.hotels.com/hotel/details.html?tab=description&hotelId=403884&arrivalDate=10-17-14&departureDate=10-19-14&rooms[0].numberOfAdults=2&roomno=1&validate=false&previousDateful=false&reviewOrder=date_newest_first">Holiday Inn Charleston Historic Downtown</a></h3>
      <p>Great location and reasonably well-priced for Charleston. Rooms are a little over $300/night. This is a newer and nicer hotel than the Days Inn.</p>
    </div>

		<h3>Other tips and tricks:</h3>
		<ul>
			<li>There's an area west of the Ashley River that is technically part of Charleston, but is outside the city.  Make sure you check out your hotel's location on a map.</li>
			<li>If you do want to stay outside the city, Mount Pleasant is a great area.  It's spread out enough that you'll need a car to get around, but it has great shopping, bars and restaurants.</li>
		</ul>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47471696-4', 'auto');
  ga('send', 'pageview');

</script>