<div class="container">
	<div class='content'>
		<div class='header'>
			<h1>Where to Stay</h1>
		</div>
		<p>Here are some recommendations for staying in the Charleston!</p>
		<div class="hotel-block">
			<h3><a href="http://www.homeaway.com/search/south-carolina/charleston/region:6374/arrival:2014-10-17/departure:2014-10-19/minSleeps/2">Homeaway.com</a></h3>
			<p>Homeaway is similar to AirBnB, and has lots of great options for the Charleston area. (It also features a much nicer logo than AirBnb.) It's typically less expensive to rent a small condo than it is to get a hotel room in the city, and most listings have room for at least 4 people.  This is far and away the best way to stay somewhere nice on a budget!</p>
		</div>
		<div class="hotel-block">
			<h3><a href="http://www.daysinn.com/hotels/south-carolina/charleston/days-inn-charleston-historic-district/rooms-rates?srcDestination=&partner_id=&srcBrand=&campaign_code=&compare=false&propId=DI05262&checkout_date=10%2F19%2F2014&children=0&useWRPoints=false&ratePlan=BAR&teens=0&affiliate_id=&brand_code=BH%2CDI%2CRA%2CBU%2CHJ%2CKG%2CMT%2CSE%2CTL%2CWG%2CWY%2CPX%2CWT%2CWP%2CPN&iata=&childAgeParam=&adults=2&checkin_date=10%2F17%2F2014&rooms=1">Days Inn Historic District</a></h3>
			<p>Yes, it's a Days Inn, but pretty much everything in downtown Charleston is nicer than you think it is.  If you're not comfortable with Homeaway, on a budget, and don't want to rent a car, this is the spot for you.  You also can't beat the location!</p>
		</div>
		<p><strong>Other tips and tricks:</strong></p>
	</div>
</div>