<div class="container">
	<div class="content index">
		<div class="header">
			<h1>Sol and Jenny are Making it Official</h1>
		</div>
		<p>Jenny and Sol first laid eyes on each other at The University of Chicago, in their history of western civilization course.</p>

		<p>Tall(er than Jenny), dark, and handsome, Sol was the lucky recipient of Jenny's mental "who would I want to be stuck with on a desert island" award. This was unbeknownst to him at the time.</p>

		<p>Jenny sat across from Sol, and could somehow answer any question from the professor even though she hadn't bothered to do the reading. Sol was impressed. He went home to tell his friends about a beautiful girl in his class who was "the first person I've ever met who is smarter than I am". They haven't allowed him to forget this.</p>

		<p>Sol thought Jenny was beautiful, brilliant, and a little intimidating. He made plans to talk to her after class, but it was more difficult than he initially expected. How come? Because Jennifer walks seven miles an hour. For three weeks he chased her down after class to walk her back to her dorm a mile away from campus.</p>

		<p>Eventually Jennifer decided to take the initiative, and she asked him "Will you keep walking me home, or will we see each other outside of class?". So they went on a date to the best restaurant in Chicago: Pizza Capri. Dinner started at eight o'clock and their food arrived in 15 minutes, but they were so immersed in conversation that they neglected to eat for a full two hours, until the restaurant closed. Three weeks later, Jenny made Sol meet her parents. The rest is history.</p>
		<div class="img-wrapper">
			<img src="/images/sol_and_jenny.jpg" class="our-story-img">
		</div>
	</div>
</div>
