<div class="container">
	<div class='content'>
		<div class='header'>
			<h1>Itinerary</h1>
		</div>
		<!-- <p>More information coming soon.</p> -->
    <h2>Friday</h2>
    <h3>Welcome Drinks</h3>
    <p>
      Will you be in Charleston on Friday night? If so we'd love to say hello before the wedding! Join us at <a href="http://www.fishrestaurantcharleston.com" target="_blank">Fish Restaurant</a> in the evening for <strong>cocktails starting at 9pm<strong>.
    </p>
    <br>

    <h2>Saturday</h2>
    <h3>Ceremony</h3>
    <p>
      The ceremony will begin at 6:30pm at Liberty Square, directly outside the South Carolina Aquarium. Reception to follow immediately after. <b> Cocktail Attire.</b>
    </p>
    <h3>Reception</h3>
    <p>
      The reception will take place inside the aquarium! Don't like fish? Not to worry, there is a beef option for dinner.
    </p>
    <h3>After-Party</h3>
    <p>Sadly we need to leave the aquarium by 11pm so the marine creatures can enjoy a solid night's sleep. We hope you'll join us at <a href="http://craftsmentaphouse.com/" target="_blank">Craftsmen</a> (our favorite bar/restaurant in Charleston) to wind down the night! Transportation will be provided from the aquarium to Craftsmen.
    </p>

  </div>
</div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-47471696-4', 'auto');
ga('send', 'pageview');

</script>