<h1>S+J</h1>
<p><a href="/" class="nav-link">Welcome</a></p>
<p><a href="/guest_list" class="nav-link">Who's Coming?</a></p>
<p><a href="/rsvp" class="nav-link">RSVP</a></p>
<p><a href="/itinerary" class="nav-link">Itinerary</a></p>
<p><a href="/accomodations" class="nav-link">Where to Stay</a></p>
<p><a href="/charleston" class="nav-link">What to do</a></p>
<p><a href="/our_story" class="nav-link">Our Story</a></p>
<p><a href="/registry" class="nav-link">Registry</a></p>