<!-- just links to all the pages, nothing fancy here -->
<h1><a href="/" class="nav-link home"><img src="/images/gray_dahlia.png"></a></h1>
<p><a href="/itinerary" class="nav-link" id='itinerary'>Itinerary</a></p>
<p><a href="/accomodations" class="nav-link" id='accomodations'>Where to Stay</a></p>
<p><a href="/charleston" class="nav-link" id='charleston'>What to do</a></p>
<p><a href="/our_story" class="nav-link" id='our_story'>Our Story</a></p>
<p><a href="/registry" class="nav-link" id='registry'>Registry</a></p>