<div class="container">
	<div class='content registry'>
		<div class='header'>
			<h1>Registry</h1>
		</div>
		<h3>Sol and Jenny have registered on Amazon and at Crate & Barrel:</h3>
		<p><a href=" http://www.crateandbarrel.com/Gift-Registry/Jennifer-Byrne-and-Solomon-Garger/r5219504">Crate & Barrel</a></p>
		<p><a href="http://www.amazon.com/registry/wedding/BCDPUJ3AE6OW">Amazon</a></p>
	</div>
</div>