/*universal background*/
/*cool css trick found at: http://css-tricks.com/perfect-full-page-background-image/*/
html {
	background: url(images/charleston_harbor.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*general overall stylings*/

h1 {
	color: #4f4f4f;
	font-family: 'Amatic SC', sans-serif;
	font-size: 4em;
	margin-top: .1em;
	margin-bottom: .1em;
	text-align: center;
}

p {
	color: #4f4f4f;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}

a {
	color: #4f4f4f;
	text-decoration: none;
}

a:hover {
	color: green;
}

/*nav bar styling*/
.nav {
	position: fixed;
	min-height: 100%;
	width: 8em;
	background-color: rgba(255,255,255,0.5);
}

.nav-link {
	padding-left: .5em;
}

/*container styling*/

.container {
	padding-left: 9em;
	width: 80%;
	display: inline-block;
}

/*content styling*/

.content {
	background-color: rgba(255,255,255,0.5); 
	min-height: 400px;
	padding: 1em;
	margin: 0 auto;
}

/*form styling*/
