/* Fonts */
@font-face {
  font-family: 'CaviarDreams';
  src: url(/CaviarDreams.ttf) format("truetype");
}

@font-face {
  font-family: 'CaviarDreams-bold';
  src: url(/CaviarDreams_Bold.ttf) format("truetype");
}

/*universal background*/
/*cool css trick found at: http://css-tricks.com/perfect-full-page-background-image/*/
html {
	background-image: url(/images/Church-Street.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*general overall stylings*/

h1 {
	color: #545558;
	font-family: 'CaviarDreams', sans-serif;
	font-size: 3.5em;
	margin-top: .1em;
	margin-bottom: .1em;
	text-align: center;
}

p {
	color: #545558;
	font-family: 'CaviarDreams', sans-serif;
	font-size: 1em;
}

a {
	color: #545558;
	text-decoration: none;
}

a:hover {
	color: green;
}

/*nav bar styling*/
.nav {
	position: fixed;
	min-height: 100%;
	width: 8em;
	background-color: rgba(255,255,255,0.5);
}

.nav-link {
	padding-left: .5em;
}

.nav-link.home {
	padding-left: 0px;
}

.nav-link img {
	width: 120px;
}

/*container styling*/

.container {
	padding-left: 9em;
	width: 80%;
	max-width: 1200px;
	display: inline-block;
}

/*content styling*/

.content {
	background-color: rgba(255,255,255,0.5); 
	min-height: 600px;
	padding: 1em;
	margin: 0 auto;
}

/*form styling*/
